@model MonoSAR.Models.Training.TrainingSummary
@{
    ViewData["Title"] = "TrainingOfficer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Training Status</h2>
<a href="/TrainingOfficer/RecordTrainingOccurrence/">Record Training Class</a>

<div>

    <table class="table">
        <thead>
            <tr>
                <th>Training Date</th>
                <th>Member</th>
                <th>Training</th>
                <th>Hours</th>
                <th>Recorded On (UTC)</th>
            </tr>
        </thead>
        <tbody>


       @foreach (var item in Model)
    {
            <tr>
                <td>@item.When.ToShortDateString()</td>
                <td>@item.MemberName</td>
                <td>@item.TrainingTitle</td>
                <td>@item.Hours</td>
                <td><a href="/TrainingOfficer/Edit/@item.TrainingMemberID">@item.Created </a></td>
            </tr>


       
    }



            <tr></tr>


        </tbody>
    </table>



</div>


