@model MonoSAR.Models.Training.TrainingClassSummaryItem

@{
    ViewData["Title"] = "ViewTraining";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Training Occurrence</h2>

<div>

    <h4>Training Occurrence</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><b>@Model.TrainingTitle</b></td>
                <td>@Model.TrainingDate.ToShortDateString()</td>
                <td><a href="/TrainingOfficer/EditTrainingClass/@Model.TrainingID">Edit</a></td>
            </tr>
        </tbody>
    </table>

    <h4>Instructors (@Model.Instructors.Count)</h4>
    @if(@Model.Instructors.Count > 0) {
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            @foreach(TrainingClassInstructorSummaryItem instructor in Model.Instructors)
    {
            <tr>
                <td><a href="/MembershipOfficer/ViewMember/@instructor.MemberID">@instructor.MemberName</a></td>
                <td>@instructor.Hours</td>
            </tr>
                }
        </tbody>
    </table>
}

    <h4>Students (@Model.Students.Count)</h4>
    @if(@Model.Students.Count > 0) {
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            @foreach(TrainingClassStudentSummaryItem student in Model.Students)
    {
            <tr>
                <td><a href="/MembershipOfficer/ViewMember/@student.MemberID">@student.MemberName</a></td>
                <td>@student.Hours</td>
            </tr>
                }
        </tbody>
    </table>
}
</div>

<hr />

<div>
    <a asp-action="Index">Back to List</a>
</div>



