@model IEnumerable<MonoSAR.Models.Membership.MemberParticipationItem>

@{
    ViewData["Title"] = "MemberParticipation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/lib/datatables/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
}

<h2>Participation</h2>

<div>

    <table class="table" id="participation-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Capacity</th>
                <th>Operations (@DateTime.Now.Year)</th>
                <th>Operations (@(DateTime.Now.Year - 1))</th>
                <th>Operations (Total)</th>
                <th>Trainings (@DateTime.Now.Year)</th>
                <th>Trainings (@(DateTime.Now.Year - 1))</th>
                <th>Trainings (Total)</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
            <tr>
                <td><a href="/MembershipOfficer/ViewMember/@item.ID">@item.Last, @item.First</a></td>
                <td>@item.CapacityName</td>
                <td>Not Available</td>
                <td>@item.NumOperationsLastYear</td>
                <td>@item.NumOperationsTotal</td>
                <td>@item.NumTrainingsThisYear</td>
                <td>@item.NumTrainingsLastYear</td>
                <td>@item.NumTrainingsTotal</td>
            </tr>
            }


        </tbody>
    </table>

</div>

<script type="text/javascript" charset="utf8" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        // Sortable searchable table: https://datatables.net
        $('#participation-table').DataTable({
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
        });
    });

</script>
