@model IEnumerable<MonoSAR.Models.Operations.OperationListItem>

@{
    ViewData["Title"] = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Operations</h2>

<a href="/OperationsOfficer/CreateOperation">Create Operation</a>

<div>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Number of Participants</th>
                <th>Operation Number</th>
                <th>Sequence Number</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
            <tr>
                <td><a href="/OperationsOfficer/ViewOperation/@item.ID">@item.Title</a></td>
                <td>@item.NumParticipants</td>
                <td>@item.OperationNumber</td>
                <td>@item.SequenceNumber</td>
                <td>@item.Start.ToShortDateString()</td>
                <td>@item.End.ToShortDateString()</td>
                <td><a href="/OperationsOfficer/Edit/@item.ID">Edit</a></td>
            </tr>
            }
            <tr></tr>


        </tbody>
    </table>



</div>


