@model MonoSAR.Models.Operations.OperationSummaryItem

@{
    ViewData["Title"] = "ViewOperation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Operation</h2>

<div>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Operation Number</th>
                <th>Sequence Number</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><b>@Model.Title</b></td>
                <td>@Model.OperationNumber</td>
                <td>@Model.SequenceNumber</td>
                <td>@Model.Start.ToShortDateString()</td>
                <td>@Model.End.ToShortDateString()</td>
                <td><a href="/OperationsOfficer/Edit/@Model.ID">Edit</a></td>
            </tr>
        </tbody>
    </table>

    <h4>Notes</h4>
    <p>@Model.Notes</p>

    <h4>Participants (@Model.Members.Count)</h4>
    @foreach(OperationMemberSummaryItem member in Model.Members.OrderBy(m => m.MemberName))
    {
        <a href="/MembershipOfficer/ViewMember/@member.MemberID">@member.MemberName</a>
        <br />
    }

    <hr />

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>


