@model MonoSAR.Models.Membership.MemberSummaryItem
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <hr />

    <div class="alert alert-warning" role="alert">
        <h4>Expirations</h4>
        <table>
            <tr>
                <td>Summer Qualified:</td>
                <td>@Html.DisplayFor(model => model.IsSummerFieldReady)</td>
            </tr>
            <tr>
                <td>Winter Qualified:</td>
                <td>@Html.DisplayFor(model => model.IsWinterFieldReady)</td>
            </tr>
            <tr>
                <td>CPR Expiration:</td>

                @if (Model.IsCPRExpired)
                    {
                    <td><strong style="color:red;">CPR Expired</strong></td>
                    }
                    else
                    {
                    <td>  @Html.DisplayFor(model => model.CPRExpiresPretty) </td>
                    }
            </tr>
            <tr>
                <td>Medical Expiration:</td>
                    @if (Model.IsMedicalExpired)
                     {
                        <td><strong style="color:red;">Medical Expired</strong></td>
                    }
                    else
                    {
                        <td>  @Html.DisplayFor(model => model.MedicalExpiresPretty) </td>
                    }
            </tr>
            <tr>
                <td>Beacon Expiration:</td>

                    @if (Model.IsBeaconExpired)
                {
                    <td><strong style="color:red;">Beacon Expired</strong></td>
                }
                else
                {
                    <td>@Html.DisplayFor(model => model.BeaconExpiresPretty) </td>
                }

            </tr>
        </table>
    </div>
</div>